body {
    height: 100vh;
    width: 100vw;
    background-color: #9600ff;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}
.header {
    width: 93%;
    justify-content: space-between;
    display: flex;
    margin-left: 2.5%;
   
}

h1 {
    font-size: 3rem;
    color: #000000;
    font-weight: 500;
    text-align: left;
    margin-top: 10px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.09);
    font-weight: 500;
    width: 100%;
}

.hero {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
justify-items: center;
}

.large-rectangle {
    margin-top: 1%;
    height: 535px;
    width: 841px;
    background-color: #000000;
  
    position: flex;
    background: white;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.10),
        rgba(255, 255, 255, 0.5)
    );
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

#textContainer{
    position: relative;
    justify-content: left;
    margin-top: 10%;
    padding-left: 102%;
    position: relative;
    transform: translate(-50%, -50%);
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.09);
    font-weight: 500;
    width: 100%;
}

#textContainer2, #textContainer3, #textContainer4 {
    position: relative;
    justify-content: left;
    margin-top: 5%;
    padding-left: 102%;
    position: relative;
    transform: translate(-50%, -50%);
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.09);
    font-weight: 500;
    width: 100%;
}

.container{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;


}

.threeContainer {
    height: 540px;
    width: 841px;
    flex-direction: row;
    display: flex;
}
.small-rectangles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.small-rectangle {
    width: 720px;
    height: 150px;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(71, 71, 71);  
    background-color: #000000;
    position: flex;
    background: white;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.10),
        rgba(255, 255, 255, 0.5)
    );
    backdrop-filter: blur(1rem);
    z-index: 1;
    border-radius: 2.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.rectangle-text-small {
    margin-top: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.09);
    font-weight: 500;
    width: 100%;
}

.button:hover {
    color: #e9e6e6;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.34);
}

.base {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    margin-top: 2%;
    margin-left: 2%;
    
}

.filler-variant{
    width: 35px;
}

    .base-variant {
        display: flex;
        justify-content: center; /* Overrides justify-content property */
        align-items: right; /* Overrides align-items property */
        flex-direction: row-reverse; /* Overrides flex-direction property */
        
    }

.bottom-rectangle {
    width: 845px;
    height: 210px;
    background-color: #000000;
    position: flex;
    background: white;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.10),
        rgba(255, 255, 255, 0.5)
    );
    backdrop-filter: blur(1rem);
    z-index: 1;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.bottom-rectangle-variant {
    width: 780px;
    height: 210px;
    background-color: #000000;
    position: flex;
    background: white;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.10),
        rgba(255, 255, 255, 0.5)
    );
    backdrop-filter: blur(1rem);
    z-index: 1;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.bottom-rectangle-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%; 
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.09);
    font-weight: 500; 
}

p {
    display: inline-block;
    vertical-align: top;
    margin: 0;
  }
  
  .word {
    position: absolute;
    width: 220px;
    opacity: 0;
  }
  
  .letter {
    display: inline-block;
    position: relative;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
  }
  
  .letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  
  .letter.behind {
    transform: rotateX(-90deg);
  }
  
  .letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

.mesh-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}

.mesh-gradient::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit; 
    filter: blur(50px); 
}



@media screen and (max-width: 768px) {
    .small-rectangles {
        flex-direction: row;
    }
}

