body {
    display: relative;
    flex-direction: row;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
}


.hero {
    display: flex;
}

.large-rectangle {
    height: 540px;
    width: 841px;
    background-color: #000000;
    margin-left: 60px;
    position: flex;
    background: white;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.10),
        rgba(255, 255, 255, 0.5)
    );
    /* backdrop-filter: blur(1rem); */
    /* z-index: 1; */
    border-radius: 3.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}


.rectangle-text-header {
    position: relative;
    top: 5%;
    margin-left: 40%;
    transform: translate(-50%, -50%);
    color:#f0f0f0a1;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.09);
    font-weight: 500; 
}

.small-rectangles {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.rectangle-text-small {
    padding-left: 17%;
    margin-top: 40px;
    margin-right: 50%;
    transform: translate(50%, 50%);
    color:#f0f0f0
}

.small-rectangle {
    width: 720px;
    height: 150px;
    background-color: rgb(71, 71, 71);  
    background-color: #000000;
    position: flex;
    background: white;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.10),
        rgba(255, 255, 255, 0.5)
    );
    backdrop-filter: blur(1rem);
    z-index: 1;
    border-radius: 5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2)
    
}

.filler {
    width: 150px;
}

.mesh-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}

.mesh-gradient::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit; /* Inherit background from parent */
    filter: blur(50px); /* Apply blur effect to the pseudo-element */
}


@media screen and (max-width: 768px) {
    .small-rectangles {
        flex-direction: row;
    }
}

